/venv
/venv2
/__pycache__
/.idea
/PlayerokAPI/__pycache__
/Utils/__pycache__
/tg_bot/__pycache__
/locales/__pycache__

/logs
/storage
/configs
/plugins


/build
/dist
test.py
*.zip
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
.pytest_cache
.coverage
*.log
